aiofiles
bcrypt
pypdf
python-jose[cryptography]
pydantic
pytest
pytest-asyncio
fastapi
uvicorn
celery
redis
google-auth
google-auth-oauthlib
google-api-python-client
anthropic
openai
boto3
mypy
sqlalchemy[asyncio]
alembic
aiosqlite
asyncpg
psycopg2-binary
httpx
docker
